.LoginOuter {
  height: calc(100vh - 56px);
  width: 100%;
  background-color: var(--nord0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Login {
  width: 1000px;
  height: 600px;
  display: grid;
  /* height: calc((100vh - 56px) / 3); */
  /* min-height: 300px;
    top: calc((100vh - 306px) / 3);
    left: 23%;
    display: block; */
  /* border: 1px solid black; */
  /* position: relative;
    margin: 0px;
    padding: 20px;
    box-sizing: border-box; */
  background-color: var(--nord0);
  color: var(--nord5);
  grid-template-columns: 450px 1fr 450px;
}

.Text {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--nord0);
}

.TextInner {
  height: 400px;
  width: 380px;
  background-color: var(--nord0);
  border-radius: 25px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.TextInner h1 {
  align-self: flex-start;
}

.TextInner div {
  overflow-y: scroll;
  padding-right: 10px;
}

.TextInner div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--nord2);
  border-radius: 10px;
}

.TextInner div::-webkit-scrollbar {
  width: 6px;
  background-color: var(--nord0);
}

.TextInner div::-webkit-scrollbar-thumb {
  background-color: var(--nord4);
  border-radius: 3px;
  /* border: 2px solid green; */
}

.GridGap {
  background-color: var(--nord0);
}

.LoginDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--nord0);
  overflow-x: hidden;
  overflow-y: hidden;
  width: 380px;
}

.LoginBox {
  height: 400px;
  width: 380px;
  background-color: var(--nord1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 25px;
  transition: transform 0.5s;
}

.InputSection {
  display: flex;
  flex-direction: column;
  /* background-color: yellow; */
  align-items: center;
  width: 75%;
  margin-bottom: 10px;
}

.InputSection label {
  margin-bottom: 5px;
  font-weight: 600;
}

.InputSection input {
  width: 100%;
  color: var(--nord0);
  height: 27px;
  border-radius: 7px;
  outline: none;
  inset: none;
  border: none;
  font-weight: 700;
  padding-left: 6px;
}

.InputSection input:focus {
  outline: none;
  background-color: var(--nord4);
}

.Warning {
  color: var(--nord11);
  font-size: 12px;
  margin-top: 2px;
  margin-bottom: 0px;
}

.SubmitButton {
  margin-top: 5px;
  height: 32px;
  border-radius: 7px;
  border: none;
  background-color: var(--nord7);
  color: var(--nord0);
  font-weight: 700;
  width: 76%;
}

.SubmitButton:hover {
  cursor: pointer;
  background-color: var(--nord8);
}

.SwitchModeClick {
  width: 75%;
  color: var(--nord6);
}

.SwitchModeClick:hover {
  text-decoration: underline;
  color: var(--nord8);
  cursor: pointer;
}

@media (max-width: 900px) {
  .Login {
    width: 100%;
    height: 600px;
    display: grid;
    background-color: var(--nord0);
    color: var(--nord5);
    grid-template-columns: 1fr 1fr;
  }

  .GridGap {
    display: none;
  }
}

@media (max-width: 774px) {
  .LoginOuter {
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  /* .Login {
    width: 100%;
    height: 600px;
    display: grid;
    background-color: var(--nord2);
    color: var(--nord5);
    grid-template-columns: 1fr;
    grid-template-rows: 600px 600px;
    grid-row-gap: 0px;
  } */

  .Login {
    display: flex;
    flex-direction: column-reverse;
    height: 850px;
    position: relative;
    top: 100px;
    overflow: hidden;
    background-color: var(nord0);
    align-items: center;
  }

  .GridGap {
    display: block;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
  }
}
