.LoginOuter {
  height: calc(100vh - 56px);
  width: 100%;
  background-color: var(--nord0);
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  color: aliceblue;
}

.Login {
  width: 1000px;
  height: 600px;
  display: grid;
  /* height: calc((100vh - 56px) / 3); */
  /* min-height: 300px;
    top: calc((100vh - 306px) / 3);
    left: 23%;
    display: block; */
  /* border: 1px solid black; */
  /* position: relative;
    margin: 0px;
    padding: 20px;
    box-sizing: border-box; */
  background-color: var(--nord0);
  /* background-color: cornflowerblue; */
  color: var(--nord5);
  grid-template-columns: 450px 1fr 450px;
  position: relative;
}

.MobileLogin {
  display: none;
}

.Text {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--nord0);
}

.TextInner {
  height: 400px;
  width: 400px;
  background-color: var(--nord0);
  border-radius: 25px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.TextInner h1 {
  align-self: flex-start;
}

.TextInner div {
  overflow-y: scroll;
  padding-right: 10px;
}

.TextInner div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--nord2);
  border-radius: 10px;
}

.TextInner div::-webkit-scrollbar {
  width: 6px;
  background-color: var(--nord0);
}

.TextInner div::-webkit-scrollbar-thumb {
  background-color: var(--nord4);
  border-radius: 3px;
  /* border: 2px solid green; */
}

.GridGap {
  background-color: var(--nord0);
}

.LoginDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--nord0);
  /* background-color: chartreuse; */
  overflow-x: hidden;
  overflow-y: hidden;
  width: 400px;
}

.LoginDivInner {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: transform 0.5s;
  flex-shrink: 0;
}

.SpacingDiv {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* background-color: crimson; */
}

.LoginOrRegister {
}

.LoginBox {
  height: 400px;
  width: 380px;
  background-color: var(--nord1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex-shrink: 0; */
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.InputSection {
  display: flex;
  flex-direction: column;
  /* background-color: yellow; */
  align-items: center;
  width: 75%;
  margin-bottom: 10px;
}

.MobileInput:-webkit-autofill,
.MobileInput:-webkit-autofill:hover,
.MobileInput:-webkit-autofill:focus,
.MobileInput:-webkit-autofill:active,
.MobileInput:-internal-autofill-selected {
  /* -webkit-box-shadow: 0 0 0px 1000px yellow inset; */
  background-color: var(--nord0) !important;
  transition: background-color 600000s 0s, color 600000s 0s;
}

.MobilePasswordInput:-webkit-autofill,
.MobilePasswordInput:-webkit-autofill:hover,
.MobilePasswordInput:-webkit-autofill:focus,
.MobilePasswordInput:-webkit-autofill:active,
.MobilePasswordInput:-internal-autofill-selected {
  /* -webkit-box-shadow: 0 0 0px 1000px yellow inset; */
  background-color: var(--nord0) !important;
  transition: background-color 600000s 0s, color 600000s 0s;
  -webkit-text-security: square;
}

.InputSection label {
  margin-bottom: 5px;
  font-weight: 600;
}

.InputSection input {
  width: 100%;
  color: var(--nord0);
  height: 27px;
  border-radius: 7px;
  outline: none;
  inset: none;
  border: none;
  font-weight: 700;
  padding-left: 6px;
}

.InputSection input:focus {
  outline: none;
  background-color: var(--nord4);
}

.Warning {
  color: var(--nord11);
  font-size: 12px;
  margin-top: 2px;
  margin-bottom: 0px;
}

.SubmitButton {
  margin-top: 5px;
  height: 32px;
  border-radius: 7px;
  border: none;
  background-color: var(--nord7);
  color: var(--nord0);
  font-weight: 700;
  width: 76%;
}

.SubmitButton:hover {
  cursor: pointer;
  background-color: var(--nord8);
}

.SwitchModeClick {
  width: 75%;
  color: var(--nord6);
}

.SwitchModeClick:hover {
  text-decoration: underline;
  color: var(--nord8);
  cursor: pointer;
}

@media (max-width: 900px) {
  .Login {
    width: 100%;
    height: 600px;
    display: grid;
    background-color: var(--nord0);
    color: var(--nord5);
    grid-template-columns: 1fr 1fr;
  }

  .GridGap {
    display: none;
  }
}

@media (max-width: 800px) {
  .LoginOuter {
    height: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  /* .Login {
    width: 100%;
    height: 600px;
    display: grid;
    background-color: var(--nord2);
    color: var(--nord5);
    grid-template-columns: 1fr;
    grid-template-rows: 600px 600px;
    grid-row-gap: 0px;
  } */

  .Login {
    display: flex;
    flex-direction: column-reverse;
    height: 1200px;
    position: relative;
    top: 0px;
    overflow: hidden;
    background-color: var(nord0);
    align-items: center;
    justify-content: flex-end;
  }

  .GridGap {
    display: block;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
  }

  .TextInner {
    height: 600px;
    width: 550px;
  }
}

@media (max-width: 550px) {
  .TextInner {
    height: 600px;
    width: 100%;
  }
}

@media (max-width: 420px) {
  .LoginOuter {
    height: calc(100vh - 56px);
    overflow-x: hidden;
  }

  .Login {
    display: none;
  }

  .MobileLogin {
    display: block;
    width: 100%;
    /* background-color: cyan; */
    background-color: var(--nord0);
    /* height: fit-content; */
    height: 300px;
  }

  .MobileFormContainer {
    width: 200vw;
    overflow-x: hidden;
    height: fit-content;
    display: flex;
    flex-direction: row;
  }

  .MobileForm {
    width: 100vw;
    height: 100%;
    /* background-color: darkblue; */
    background-color: var(--nord0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: transform 0.5s;
  }

  .MobileInputContainer {
    width: 80%;
    height: 35px;
    border: var(--nord5);
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    border-bottom: 3px solid var(--nord5);
  }

  .InputIcon {
    width: 37px;
    height: 37px;
    background-color: var(--nord0);
    color: var(--nord5);
  }

  .MobileInput {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    font-size: 23px;
    font-weight: 600;
    color: var(--nord5);
    background-color: var(--nord0);
    padding-left: 10px;
  }

  .MobileInput:focus {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    background-color: var(--nord0);
  }

  .MobilePasswordInput {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    font-size: 23px;
    font-weight: 600;
    color: var(--nord5);
    background-color: var(--nord0);
    padding-left: 10px;
    -webkit-text-security: circle;
  }

  .MobilePasswordInput:focus {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    background-color: var(--nord0);
  }

  .MobileButton {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 32px;
    border-radius: 7px;
    border: none;
    background-color: var(--nord8);
    color: var(--nord0);
    font-size: 20px;
    font-weight: 700;
    width: 80%;
    text-align: center;
    padding: 1px 0;
  }

  .GoogleIconMobile {
    width: 18px;
    height: 18px;
    margin: 0px;
    margin-right: 5px;
    margin-top: 2px;
    /* background-color: blueviolet; */
  }

  .MobileButton:hover {
    cursor: pointer;
  }

  .LoginOrRegisterMobile {
    width: 80%;
    color: var(--nord5);
  }

  .LoginOrRegisterMobile:hover {
    cursor: pointer;
    color: var(--nord7);
    text-decoration: underline;
  }

  .MobileWarning {
    color: var(--nord11);
    font-size: 14px;
    margin-top: -6px;
    margin-bottom: 5px;
  }
}
