/* @import "../../../node_modules/nord/src/nord.css"; */

.Registration {
  width: 54%;
  /* height: calc((100vh - 56px) / 3); */
  min-height: 300px;
  display: flex;
  position: relative;
  margin: 0px;
  padding: 20px;
  box-sizing: border-box;
  background-color: var(--nord2);
  color: var(--nord5);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  top: 140px;
}

.InputBox {
  border-style: none;
}

/*  */
