.Subscriptions {
  height: calc(100vh - var(--toolbar-height) - var(--footer-height));
  width: 100%;
  background-color: var(--nord0);
  position: relative;
  display: flex;
  flex-direction: column;
}

/* Start of show tag CSS */

.FixedElements {
  position: fixed;
  top: var(--toolbar-height);
  width: 100vw;
  margin: 0px;
  z-index: 10;
  background-color: var(--nord0);
}

.ShowTags {
  width: 94vw;
  border-bottom: var(--nord4);
  position: fixed;
  min-height: 40px;
  position: sticky;
  z-index: 10;
  top: var(--toolbar-height);
  margin-bottom: 10px;
  margin: 0 auto;
  background-color: var(--nord2);
  display: block;
}

.ShowTagContainer {
  min-height: 38px;
  /* height: fit-content; */
  /* height: 35px; */
  position: relative;
  display: block;
  top: 15px;
  overflow: hidden;
  transition: height 0.3s;
}

.ShowTag {
  display: inline-block;
  border: solid black 1px;
  border-radius: 19px;
  padding: 7px;
  margin-right: 3px;
  margin-left: 5px;
  margin-bottom: 6px;
  margin-top: 0px;
  background-color: var(--nord7);
  color: var(--nord6);
  font-weight: 600;
}

.CloseButton:hover {
  text-decoration: underline;
  cursor: pointer;
}

.ButtonContainer {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 0px;
  align-items: center;
}

.Button {
  padding: 0.7em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--nord6);
  background-color: var(--nord8);

  border: none;
  text-align: center;
  right: 0px;
  position: relative;
  right: 20px;
}

.Button:hover {
  cursor: pointer;
}

.BsCaretUpFill {
  position: relative;
  right: 20px;
  right: calc(50% - 41.49px - 24px - 25px);
  width: 50px;
  height: 30px;
  transition: transform 0.3s;
  color: var(--nord5);
}

.BsCaretUpFill:hover {
  cursor: pointer;
}

/* End of show tag CSS */

.SelectorContainer {
  top: 100px;
  margin: auto;
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: scroll;
  flex-grow: 1;
}

.Selector {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  top: 0px;
  margin-bottom: 0px;
  overflow: scroll;
  flex-grow: 1;
  background-color: green;
}

.SelectorMobile {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  top: -40px;
  margin-bottom: 50px;
  overflow: scroll;
  height: calc(100vh - var(--toolbar-height) - var(--footer-height) - 130px);
  /* flex-grow: 1; */
}

.ShowTitleBox {
  width: calc(50% - 10px);
  height: 100px;
  margin: 5px;
  /* background-color: rebeccapurple; */
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.ShowTitleBox p {
  font-size: 25px;
  font-weight: 700;
  color: var(--nord5);
  /* background-color: royalblue; */
}

.ShowTitleBox p:hover {
  font-size: 25px;
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
  /* background-color: royalblue; */
}

.MobileLoader {
  height: 100px;
  width: 100px;
}

.LoadingShowBox {
  /* border: 1px solid #ccc; */
  display: flex;
  width: 342px;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: var(--nord3);
  border-radius: 10px;
  overflow: hidden;
  flex-direction: column;
  height: 342px;
  margin-bottom: 20px;
}

.loader {
  margin: 20px auto;
  font-size: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.SearchIconContainer {
  position: fixed;
  bottom: 60px;
  right: 15px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--nord5);
  box-shadow: 0px 0px 10px var(--nord7);
  z-index: 200;
  display: none;
}

.SearchIconContainer:hover {
  cursor: pointer;
}

.SearchIcon {
  width: 45px;
  height: 45px;
  z-index: 210;
  color: var(--nord0);
}

.SearchBarIcon {
  width: 50px;
  height: 50px;
  color: var(--nord5);
  margin: 0px;
  margin-right: 10px;
}

.CloseSearch {
  color: var(--nord5);
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 0px;
  right: 0px;
  /* width: 80;
    height: 80px; */
  font-size: 25px;
  font-weight: 600;
  margin: 0px;
  /* background-color: blueviolet; */
}

.CloseSearch:hover {
  cursor: pointer;
}

.MobileSearch {
  width: 94vw;
  height: 80px;
  margin: 0 auto;
  background-color: var(--nord0);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  z-index: 10;
  /* position: fixed; */
}

.MobileSearchInner {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blueviolet; */
  position: relative;
}

.MobileSearchInnerInner {
  width: 85%;
  /* top: 20px; */
  /* margin: auto auto; */
  height: 50px;
  background-color: var(--nord0);
  /* background-color: chartreuse; */
  border-bottom: 8px solid var(--nord3);
  display: flex;
  justify-content: flex-start;
}

.MobileSearchbar {
  flex: 1;
  background-color: var(--nord0);
  /* background-color: var; */
  color: var(--nord5);
  /* line-height: 50px; */
  font-size: 40px;
  border: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.MobileSearchbar input {
  position: relative;
  top: 0px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  border: none;
  font-size: 40px;
  background-color: var(--nord0);
  color: var(--nord5);
}

.MobileSearchbar input:focus {
  /* flex: 1; */
  outline: none;
  /* line-height: 50px; */
  /* font-size: 50px; */
}

@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}

@media (max-width: 610px) {
  .LoadingShowBox {
    background-color: var(--nord0);
  }

  .SearchIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 510px) {
  .LoadingShowBox {
    background-color: var(--nord0);
  }

  .SearchIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .SearchIconContainer:hover {
    cursor: pointer;
  }

  .SearchIcon {
    width: 45px;
    height: 45px;
    z-index: 210;
    color: var(--nord0);
  }

  .MobileSearch {
    width: 94vw;
    height: 80px;
    margin: 0 auto;
    background-color: var(--nod0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    /* position: fixed; */
  }

  .MobileSearchInner {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blueviolet; */
    position: relative;
  }

  .MobileSearchInnerInner {
    width: 85%;
    /* top: 20px; */
    /* margin: auto auto; */
    height: 50px;
    background-color: var(--nord0);
    /* background-color: chartreuse; */
    border-bottom: 8px solid var(--nord3);
    display: flex;
    justify-content: flex-start;
  }

  .MobileSearchbar {
    flex: 1;
    background-color: var(--nord0);
    background-color: pink;
    color: var(--nord5);
    /* line-height: 50px; */
    font-size: 30px;
    border: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .MobileSearchbar input {
    position: relative;
    top: 0px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-bottom: 0px;
    margin: 0px;
    border: none;
    font-size: 30px;
    line-height: 30px;
    background-color: var(--nord0);
    /* background-color: brown; */
    color: var(--nord5);
  }

  .MobileSearchbar input:focus {
    /* flex: 1; */
    outline: none;
    /* line-height: 50px; */
    /* font-size: 50px; */
  }

  .CloseSearch {
    color: var(--nord5);
    font-family: "Roboto", sans-serif;
    position: absolute;
    top: 0px;
    right: 0px;
    /* width: 80;
    height: 80px; */
    font-size: 25px;
    font-weight: 600;
    margin: 0px;
    /* background-color: blueviolet; */
  }

  .CloseSearch:hover {
    cursor: pointer;
  }
}
