/* @import "../../../node_modules/nord/src/nord.css"; */

.Toolbar {
  height: var(--toolbar-height);
  width: 100%;
  position: sticky;
  top: 0px;
  left: 0px;
  background-color: var(--nord1);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
  margin: 0px;
  border-bottom: 1px solid var(--nord0);
}

.Toolbar nav {
  height: 100%;
  margin: 0px;
}

.Logout {
  margin: 10px 0px;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.Logout p {
  color: #8f5c2c;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.Logout p:hover {
  color: #40a4c8;
  cursor: pointer;
}

.SearchBar {
  height: 70%;
  width: 250px;
  border-radius: 30px;
  padding: 10px;
  box-sizing: border-box;
  margin-right: 15px;
}

.SearchBar:focus {
  outline: none;
}

.FriendsIconOuter {
  margin: 0px;
  display: flex;
  height: 100%;
  width: auto;
  align-items: center;
  color: var(--nord5);
  box-sizing: border-box;
  position: relative;
  /* background-color: lightseagreen; */
}

.FriendsIconOuter:hover {
  cursor: pointer;
}

.FriendsIcon {
  color: var(--nord6);
  height: calc(100% - 36px);
  padding: 16px 15px;
  border-bottom: 4px solid transparent;
  /* background-color: green; */
  /* box-sizing: border-box; */
}

.FriendsIcon:hover {
  cursor: pointer;
  background-color: var(--nord3);
  border-bottom: 4px solid var(--nord8);
  /* padding: 0px 10px; */
}

.FriendsIconActive {
}

.FriendsDropdown {
  width: 290px;
  /* height: 100px; */
  position: absolute;
  background-color: var(--nord2);
  right: 150px;
  top: 57px;
  border-radius: 10px;
  padding: 6px;
  padding-right: 2px;
  min-height: 100px;
  max-height: 310px;
  overflow: auto;
  z-index: 100;
}

.FriendsDropdown::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--nord2);
  border-radius: 10px;
}

.FriendsDropdown::-webkit-scrollbar {
  width: 6px;
  background-color: var(--nord2);
}

.FriendsDropdown::-webkit-scrollbar-thumb {
  background-color: var(--nord4);
  border-radius: 10px;
  /* border: 2px solid green; */
}

.Notification {
  background-color: var(--nord2);
  width: 100%;
  height: 100px;
  border-top: solid var(--nord0) 1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Notification:first-of-type {
  border-top: none;
}

.NotificationProfilePic {
  width: 80px;
  border-radius: 50%;
}

.NotificationBody {
  height: 100%;
  width: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FriendRequestUsername {
  color: var(--nord5);
  font-weight: 700;
}

.ButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
}

.Button {
  border: none;
  border-radius: 5px;
  width: 70px;
  height: 30px;
}

.Button:hover {
  cursor: pointer;
}

.Button1 {
  background-color: var(--nord9);
  color: var(--nord5);
  font-weight: 800;
}

.Button1:hover {
  background-color: var(--nord8);
}

.Button2 {
  background-color: var(--nord5);
  color: var(--nord0);
  font-weight: 800;
}

.Button2:hover {
  background-color: var(--nord6);
}

.NumNotifications {
  position: absolute;
  font-size: 13px;
  top: -4px;
  left: 28px;
  border-radius: 50%;
  background-color: var(--nord11);
  color: var(--nord6);
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NoRequests {
  color: var(--nord4);
}

.MobileOnly {
  height: 100%;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: space-between;
}

.MobileDropdown {
  width: 80px;
  height: 25px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--nord2);
  right: 5px;
  top: 35px;
  border-radius: 10px;
  padding: 6px;
  padding-right: 2px;
  overflow: hidden;
  z-index: 100;
}

.MobileLogout {
  font-size: 20px;
  color: var(--nord5);
}

.MobileLogout:hover {
  cursor: pointer;
}

.SidebarMenu {
  height: 20px;
  width: 20px;
  color: var(--nord5);
}

.SidebarMenu:hover {
  cursor: pointer;
}

.DropdownIcon {
  height: 20px;
  width: 20px;
  color: var(--nord5);
}

.DropdownIcon:hover {
  color: var(--nord7);
  cursor: pointer;
}

/* @media (max-width: 610px) {
  .Toolbar {
    height: 35px;
    justify-content: center;
  }


} */

.Username {
  color: var(--nord5);
}

.Username:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media (min-width: 500px) {
  .Logout {
    margin: 0px;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
  }

  .Logout p {
    color: white;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
  }

  .Logout p:hover {
    background-color: var(--nord3);
    border-bottom: 4px solid var(--nord8);
    color: var(--nord5);
  }
}

@media (max-width: 610px) {
  .DesktopOnly {
    display: none;
  }

  .MobileOnly {
    display: flex;
  }
}
