.Toolbar {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #703b09;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
  margin: 0px;
}

.Toolbar nav {
  height: 100%;
  margin: 0px;
}

.Logout {
  margin: 10px 0px;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.Logout p {
  color: #8f5c2c;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.Logout p:hover {
  color: #40a4c8;
}

@media (min-width: 500px) {
  .Logout {
    margin: 0px;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
  }

  .Logout p {
    color: white;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
  }

  .Logout p:hover {
    background-color: #8f5c2c;
    border-bottom: 4px solid #40a4c8;
    color: white;
  }
}

@media (max-width: 499px) {
  .DesktopOnly {
    display: none;
  }
}
