@import "../../../../node_modules/nord/src/nord.css";

.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.Label {
  font-weight: bold;
  display: block;
  margin: auto;
  margin-bottom: 8px;
  text-align: center;
  color: var(--nord5);
}

.InputElement {
  outline: none;
  background-color: var(--nord4);
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
}

.InputElement:focus {
  outline: none;
  background-color: var(--nord6);
}

.Invalid {
  border: 1px solid red;
  background-color: salmon;
}

.Warning {
  font-size: small;
  color: var(--nord11);
}
