.Feed {
  min-height: calc(100vh - 56px);
  height: 100%;
  position: relative;
  width: 48%;
  left: 26%;
  border-left: 2px solid black;
  border-right: 2px solid black;
  background-color: green;
  top: 0px;
  margin: 0px;
  overflow: scroll;
}

.ImageContainer {
  height: 500px;
  width: 100%;
  position: relative;
  background-color: teal;
}

.Feed::-webkit-scrollbar {
  display: none;
}
