.Feed {
  /* height: calc(100vh - 56px); */
  position: relative;
  width: 668px;
  left: 0px;
  border-left: 1px solid var(--nord0);
  border-right: 1px solid var(--nord0);
  background-color: var(--nord0);
  top: 0px;
  margin: 0px;
  overflow: scroll;
  box-sizing: border-box;
  /* display: none; */
}

.InputPost {
  position: relative;
  top: 0px;
  height: 50px;
  width: 100%;
  background-color: var(--nord1);
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  /* border: 1px solid var(--nord0); */
  border-bottom: 1px solid var(--nord0);
}

.ProfilePic {
  height: 40px;
  width: 40px;
  margin: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.InputPostInput {
  flex: 1;
  margin: 10px;
  border-radius: 6px;
  outline: none;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  height: 35px;
  font-size: 20px;
  line-height: 35px;
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--nord6);
  margin-left: 0px;
}

.InputPostInput::placeholder {
  font-size: 20px;
  line-height: 35px;
  color: var(--nord3);
}

.ImageContainer {
  height: 500px;
  width: 100%;
  position: relative;
  background-color: teal;
}

.Feed::-webkit-scrollbar {
  display: none;
}

.Modal {
  position: absolute;
  top: 20%;
  left: calc(50vw - 200px);
  height: 400px;
  width: 400px;
  background-color: var(--nord5);
  border-radius: 30px;
  padding: 0px;
}

.ModalTitle {
  height: 60px;
  position: relative;
  top: 0px;
  border-bottom: 1px solid var(--nord0);
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
  font-size: 30px;
  color: var(--nord0);
}

.PostInput {
  flex: 1;
  min-height: 40px;
  /* overflow-wrap: break-word; */
  overflow: hidden;
  border: none;
  /* border-radius: 10px; */
  box-sizing: border-box;
  font: inherit;
  font-size: 15px;
  height: unset;
  resize: none;
  background-color: var(--nord6);
  width: 100%;
  height: 170px;
  /* background-color: green; */
  color: var(--nord0);
  left: 0px;
  overflow: scroll;
  margin-bottom: 5px;
  padding: 8px;
}

.PostInput::-webkit-scrollbar {
  display: none;
}

.RadioButtons {
  display: flex;
  flex-direction: row;
  align-items: space-around;
  justify-content: space-around;
  margin-bottom: 5px;
}

.Dropdowns {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* background-color: blue; */
  justify-content: center;
  align-items: center;
}

.Dropdown {
  width: 90%;
  margin-bottom: 5px;
}

.SubmitButton {
  width: 90%;
}

.SubmitButtonContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NotLoggedIn {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--nord4);
}

.Redirect {
  color: var(--nord7);
}

.Redirect:hover {
  color: var(--nord6);
  text-decoration: underline;
  cursor: pointer;
}
