.Feed {
  /* height: calc(100vh - 56px); */
  position: relative;
  width: 668px;
  left: 0px;
  border-left: 1px solid var(--nord0);
  border-right: 1px solid var(--nord0);
  background-color: var(--nord0);
  top: 0px;
  margin: 0px;
  overflow: scroll;
  box-sizing: border-box;
  /* display: none; */
}

.InputPost {
  position: relative;
  top: 0px;
  height: 50px;
  width: 100%;
  background-color: var(--nord1);
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  /* border: 1px solid var(--nord0); */
  border-bottom: 1px solid var(--nord0);
}

.ProfilePic {
  height: 40px;
  width: 40px;
  margin: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.InputPostInput {
  flex: 1;
  margin: 10px;
  border-radius: 6px;
  outline: none;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  height: 35px;
  font-size: 20px;
  line-height: 35px;
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--nord6);
  margin-left: 0px;
}

.InputPostInput::placeholder {
  font-size: 20px;
  line-height: 35px;
  color: var(--nord3);
}

.ImageContainer {
  height: 500px;
  width: 100%;
  position: relative;
  background-color: teal;
}

.Feed::-webkit-scrollbar {
  display: none;
}
