@import "../../../node_modules/nord/src/nord.css";

.MainSection {
  display: flex;
  flex-direction: row;
  flex-shrink: 2;
  min-height: calc(100vh - 56px);
  height: fit-content;
  top: 56px;
  width: 100%;
  background-color: var(--nord0);
  position: relative;
  margin: 0px;
  position: absolute;
}

.TestClass {
  background-color: orange;
  width: 100px;
  height: 100px;
  left: 32%;
  top: 40px;
  position: relative;
}
