.MainSection {
  display: flex;
  flex-direction: row;
  flex-shrink: 2;
  min-height: calc(100vh - var(--toolbar-height) - var(--footer-height));
  height: calc(100% - var(--toolbar-height) - var(--footer-height));
  top: var(--toolbar-height);
  width: 100%;
  background-color: var(--nord0);
  position: fixed;
  margin: 0px;
  position: absolute;

  /* overflow: scroll; */
}

.TestClass {
  background-color: var(--nord1);
  flex: 1;
  height: calc(100vh - var(--toolbar-height) - var(--footer-height));
  left: 0px;
  top: var(--toolbar-height);
  position: sticky;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.TestInner {
  width: 260px;
  max-width: 340px;
  position: relative;
  top: 0px;
  /* background-color: green; */
  min-height: 320px;
  max-height: 450px;
  overflow-y: none;
  background-color: lightblue;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  margin-top: 5px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  word-wrap: break-word;
}

.TestInnerInner {
  width: 220px;
  height: 280px;
  position: relative;
  top: 0px;
  left: 0px;
  max-height: 430px;
  overflow-y: auto;
  background-color: lightblue;
  padding: 0px;
  box-sizing: border-box;
  color: white;
  font-weight: bold;
  font-size: 20px;
  word-wrap: break-word;
}
